dist
node_modules
hourly-metrics.json
mpdao-hourly-metrics.json
voters.db3
AllVoters.*.json

.env
.DS_Store

certificate/*.crt
mpdao-hourly-metrics.json
last-snapshot-AllVoters.json
mpdao-hourly-metrics.json
